In [2]:
import pandas as pd
import numpy as np

In [2]:
dic  = dict(a=['bitch', 'fuck', 'im', 'sleepy'], b=['birds', 'are', 'not', 'real'])
dic2 = dict(a=['i', 'would', 'like', 'nap'], b=['reagan', 'killed', 'them', 'all'])
df1 = pd.DataFrame(dic)
df2 = pd.DataFrame(dic2)
df_new = df1.append(df2)

In [3]:
df1

        a      b
0   bitch  birds
1    fuck    are
2      im    not
3  sleepy   real

In [4]:
df_new

        a       b
0   bitch   birds
1    fuck     are
2      im     not
3  sleepy    real
0       i  reagan
1   would  killed
2    like    them
3     nap     all

In [5]:
df3 = pd.DataFrame({'a': [], 'b':[]})
print(f'{df3}')
df3 = df3.append(df_new)
df3

Empty DataFrame
Columns: [a, b]
Index: []

        a       b
0   bitch   birds
1    fuck     are
2      im     not
3  sleepy    real
0       i  reagan
1   would  killed
2    like    them
3     nap     all

In [6]:
df4 = pd.DataFrame()
df4

Empty DataFrame
Columns: []
Index: []

In [7]:
df4 = df4.append(df_new)
df4

        a       b
0   bitch   birds
1    fuck     are
2      im     not
3  sleepy    real
0       i  reagan
1   would  killed
2    like    them
3     nap     all

In [8]:
df4 = df4.append(pd.DataFrame({'a': ['ahhhhh'], 'b': ['ahhhhh']}))
df4

        a       b
0   bitch   birds
1    fuck     are
2      im     not
3  sleepy    real
0       i  reagan
1   would  killed
2    like    them
3     nap     all
0  ahhhhh  ahhhhh

In [9]:
df4.reset_index(inplace=True)
df4

   index       a       b
0      0   bitch   birds
1      1    fuck     are
2      2      im     not
3      3  sleepy    real
4      0       i  reagan
5      1   would  killed
6      2    like    them
7      3     nap     all
8      0  ahhhhh  ahhhhh

In [10]:
type(df4)

pandas.core.frame.DataFrame

In [21]:
x = np.arange(0, 10, 1)
mylist = [i if i<=5 else 0 for i in x]
# mylist=[]
# for i in x:
#     if i<= 5:
#         mylist.append(i)
#     else:
#         mylist.append(0)
mylist

[0, 1, 2, 3, 4, 5, 0, 0, 0, 0]

In [4]:
x = 18
print('high' if x>=10 else 'low')

high