In [1]:
def fuck(this_shit = 'yuh'):
    if this_shit == 'yuh':
        print('noice')

In [2]:
fuck(this_shit = 'yuh')

noice

In [3]:
fuck(this_shit = 'nah')

In [4]:
def find_elements(filename, abundance, modify_solar = 'No'):
#         If modify_solar = 'Yes':
#         converts data to a dictionary. Nothing else is changed
#         If modify_solar = 'No':
#         Iterate over solar abundance dictionary and new dictionary
#         If keys match, replace element in solar abundance with element
#         from new data dictionary
#         returns updated stellar abundance dictionary
    import pandas as pd
    data = pd.read_csv(filename)
    
    if modify_solar == 'No':
        return data.to_dict(orient='list')
    if modify_solar == 'Yes':
        new_dic = fix_key(data)
        for key in abundance.keys():
            if key in new_dic.keys():
                abundance[key] = new_dic[key]
                print('an element was changed to {}'.format(abundance[key]))
        return abundance

In [6]:
"""
dictates stellar abundances used in calculating ion balances.
If filename = None, solar abundances will be used
modify_solar = 'No' is the default
If modify_solar = 'No', will return data input as a dictionary. Only those elements and values provided will be
    used in calculating ion balances
If modify_solar = 'Yes', switch out element values provided with solar abundances for those elements and provide
full dictionary of first 30 elements in periodic table having modified abundances provided by data. All else is same
Right now, only works with datasets able to be read in with pandas.read_csv
"""
def reading_func(filename = None, modify_solar = False):
    def fix_key(data):
        """
        amends element keys to ensure they match that of solar 
        abundances dictionary for indexing/comparing purposes
        Handy for data given in ratios 
        Returns new dictionary with updated keys and unchanged elements
        """
        new_data = data.to_dict(orient='list') 
        for i in new_data:
            new_data[i] = sum(new_data[i])
        keys = list(new_data.keys())
        string = []
        """
         Make list of keys from data dictionary
        """ 
        for i in keys:
            if i[1] == '/':
                string.append(i[0])
            else:
                string.append(i[0] + i[1])
        newest_data = {}
        """
        Make new dictionary with new keys and unchanged elements
        """
        for key, i in zip(new_data.keys(), string):
            newest_data[i] = new_data[key]
        return newest_data
    
    def find_elements(filename, abundance, modify_solar = False):
        """
        If modify_solar = 'Yes':
        converts data to a dictionary. Nothing else is changed
        If modify_solar = 'No':
        Iterate over solar abundance dictionary and new dictionary
        If keys match, replace element in solar abundance with element
        from new data dictionary
        returns updated stellar abundance dictionary
        """
#         import pandas as pd
#         data = pd.read_csv(filename)
        if modify_solar == False:
            new_data = data.to_dict(orient='list')
            for i in new_data:
                new_data[i] = sum(new_data[i])
            return new_data
        if modify_solar is not False:
            new_dic = fix_key(data)
            for key in abundance.keys():
                if key in new_dic.keys():
                    abundance[key] = new_dic[key]
                    print('an element was changed to {}'.format(abundance[key]))
            return abundance
    
    abundance = {
        'H' : 1.00e+00, 'He': 1.00e-01, 'Li': 2.04e-09,
        'Be': 2.63e-11, 'B' : 6.17e-10, 'C' : 2.45e-04,
        'N' : 8.51e-05, 'O' : 4.90e-04, 'F' : 3.02e-08,
        'Ne': 1.00e-04, 'Na': 2.14e-06, 'Mg': 3.47e-05,
        'Al': 2.95e-06, 'Si': 3.47e-05, 'P' : 3.20e-07,
        'S' : 1.84e-05, 'Cl': 1.91e-07, 'Ar': 2.51e-06,
        'K' : 1.32e-07, 'Ca': 2.29e-06, 'Sc': 1.48e-09,
        'Ti': 1.05e-07, 'V' : 1.00e-08, 'Cr': 4.68e-07,
        'Mn': 2.88e-07, 'Fe': 2.82e-05, 'Co': 8.32e-08,
        'Ni': 1.78e-06, 'Cu': 1.62e-08, 'Zn': 3.98e-08}
    if filename is not None:
        if modify_solar == False:
            abundance = find_elements(filename, abundance, modify_solar=False)
        if modify_solar is not False:
            abundance = find_elements(filename, abundance, modify_solar=True)
    return abundance

In [3]:
# filepath = '/home/evelyn/internship/trident_mods/solar_abundance/JINAbase_excerpt_2eb.txt'
filename = 'JINAbase_excerpt_2eb.txt'
solar_abundance = reading_func(filename, modify_solar = False)
solar_abundance

{'#JINA_ID': 6,
 'C/Fe': -0.59,
 'O/Fe': 0.51,
 'Fe/H': -1.78,
 'Mg/Fe': -0.01,
 'Si/Fe': 0.08}

In [4]:
# filepath = '/home/evelyn/internship/trident_mods/solar_abundance/JINAbase_excerpt_2eb.txt'
filename = 'JINAbase_excerpt_2eb.txt'
solar_abundance = reading_func(filename, modify_solar = True)
solar_abundance

an element was changed to -0.59
an element was changed to 0.51
an element was changed to -0.01
an element was changed to 0.08
an element was changed to -1.78

{'H': 1.0,
 'He': 0.1,
 'Li': 2.04e-09,
 'Be': 2.63e-11,
 'B': 6.17e-10,
 'C': -0.59,
 'N': 8.51e-05,
 'O': 0.51,
 'F': 3.02e-08,
 'Ne': 0.0001,
 'Na': 2.14e-06,
 'Mg': -0.01,
 'Al': 2.95e-06,
 'Si': 0.08,
 'P': 3.2e-07,
 'S': 1.84e-05,
 'Cl': 1.91e-07,
 'Ar': 2.51e-06,
 'K': 1.32e-07,
 'Ca': 2.29e-06,
 'Sc': 1.48e-09,
 'Ti': 1.05e-07,
 'V': 1e-08,
 'Cr': 4.68e-07,
 'Mn': 2.88e-07,
 'Fe': -1.78,
 'Co': 8.32e-08,
 'Ni': 1.78e-06,
 'Cu': 1.62e-08,
 'Zn': 3.98e-08}

In [5]:
# filepath = '/home/evelyn/internship/trident_mods/solar_abundance/JINAbase_excerpt_2eb.txt'
filename = 'JINAbase_excerpt_2eb.txt'
solar_abundance = reading_func(filename)
solar_abundance

{'#JINA_ID': 6,
 'C/Fe': -0.59,
 'O/Fe': 0.51,
 'Fe/H': -1.78,
 'Mg/Fe': -0.01,
 'Si/Fe': 0.08}

In [9]:
pip install pandas_ods_reader

Requirement already satisfied: pandas_ods_reader in /home/evelyn/anaconda3/lib/python3.8/site-packages (0.0.7)
Requirement already satisfied: pandas in /home/evelyn/anaconda3/lib/python3.8/site-packages (from pandas_ods_reader) (1.1.3)
Requirement already satisfied: ezodf in /home/evelyn/anaconda3/lib/python3.8/site-packages (from pandas_ods_reader) (0.3.2)
Requirement already satisfied: lxml in /home/evelyn/anaconda3/lib/python3.8/site-packages (from pandas_ods_reader) (4.6.1)
Requirement already satisfied: numpy>=1.15.4 in /home/evelyn/anaconda3/lib/python3.8/site-packages (from pandas->pandas_ods_reader) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /home/evelyn/anaconda3/lib/python3.8/site-packages (from pandas->pandas_ods_reader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/evelyn/anaconda3/lib/python3.8/site-packages (from pandas->pandas_ods_reader) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/evelyn/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandas_ods_reader) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
from pandas_ods_reader import read_ods

In [38]:
sheet_name = 'Sheet1'
data = read_ods('test.ods', sheet_name)
data

     a    b    c    d    e    f    g    h    i
0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0

In [39]:
type(data)

pandas.core.frame.DataFrame

In [40]:
dic = data.to_dict(orient = 'list')
dic

{'a': [1.0],
 'b': [2.0],
 'c': [3.0],
 'd': [4.0],
 'e': [5.0],
 'f': [6.0],
 'g': [7.0],
 'h': [8.0],
 'i': [9.0]}

In [41]:
for i in dic.keys():
    print(dic[i])

[1.0]
[2.0]
[3.0]
[4.0]
[5.0]
[6.0]
[7.0]
[8.0]
[9.0]

In [43]:
for i in dic:
    dic[i] = sum(dic[i])
dic

{'a': 1.0,
 'b': 2.0,
 'c': 3.0,
 'd': 4.0,
 'e': 5.0,
 'f': 6.0,
 'g': 7.0,
 'h': 8.0,
 'i': 9.0}

In [49]:
for i in dic:
    print(type(dic[i]))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
bruh = dic['a']
bruh

[1.0]

In [31]:
bruh_noice = bruh[0]
type(bruh_noice)

float

In [22]:
def convert(list): 
      
    # Converting integer list to string list 
    # and joining the list using join() 
    res = int("".join(map(str, list))) 
      
    return res

In [25]:
for i in dic.keys():
    convert(dic[i])

ValueError: invalid literal for int() with base 10: '1.0'

In [54]:
dic

{'a': 1.0,
 'b': 2.0,
 'c': 3.0,
 'd': 4.0,
 'e': 5.0,
 'f': 6.0,
 'g': 7.0,
 'h': 8.0,
 'i': 9.0}

In [55]:
dick = {'type1': [1, 2, 3, 4], 'type2': [5, 6, 7, 8]}

In [67]:
test = [9, 7, 3, 1, 33, 5, 17,75, 2]

In [68]:
type1 = dick['type1']
type2 = dick['type2']
for t in test:
    if t in type1:
        print(t,'in type1')
    if t in type2:
        print(t, 'in type2')

7 in type2
3 in type1
1 in type1
5 in type2
2 in type1

In [58]:
for d in dick:
    print(dick[d])

[1, 2, 3, 4]
[5, 6, 7, 8]

In [59]:
type1 = dick['type1']

In [60]:
type1[0]

1

In [38]:
def file_type(filename, file_type='csv', delimiter=None, names=None, skiprows=None, colspecs = None, widths=None,
             infer_nrows=None, orient=None, typ=None, dtype=None, convert_axes=None, match=None, flavor=None,
              header=None):
#     import os
#     name, extension = os.path.splitext(filepath)
    import pandas as pd

    if file_type == 'csv' or fil_type == 'txt':
        data = pd.read_csv(filename, delimiter=delimiter, names=names, skiprows=skiprows)
    if file_type == 'fwf':
        filename = str(filename)
        data = pd.read_txt(filename, colspecs = colspecs, widths=widths, infer_nrows=infer_nrows)
    if file_type == 'json':
        filename = str(filename)
        data = pd.read-json(filename, orient=orient, typ=typ, dtype=dtype, convert_axes=convert_axes)
    if file_type == 'html':
        filename = str(filename)
        data = pd.read_html(filename, match=match, favor=favor, header=header)
    return data

In [88]:
filepath = '/home/evelyn/internship/trident_mods/solar_abundance/JINAbase_excerpt_2eb.txt'
file_type(filepath)

.txt
txt

In [89]:
filepath2 = '/home/evelyn/internship/trident_mods/solar_abundance/JINAbase_excerpt.txt'
file_type(filepath2)

.txt
txt

In [45]:
# filename = 'addresses.csv'
filename = 'JINAbase_excerpt_2eb.txt'
data = file_type(filename)

In [46]:
print(data.shape)
data

(1, 6)

   #JINA_ID  C/Fe  O/Fe  Fe/H  Mg/Fe  Si/Fe
0         6 -0.59  0.51 -1.78  -0.01   0.08

In [36]:
df = pd.read_csv('addresses.csv', delimiter = None, names=None, skiprows=None)

In [37]:
df

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [1]:
d = {'A': {'a':1, 'as in':'apple'}, 'B': {'b':2, 'AS IN': 'boy'}}

In [3]:
d['A']['a']

1

In [40]:
def filetpye(filename, file_type='csv', *args, **kwargs):
    import pandas as pd
    arg = kwargs.get('arg', None)
#     names = kwargs.get('names', None)
    Args = {'csv': {'delimiter': None, 'names': None, 'skiprows': None}}
    if file_type == 'csv' or file_type == 'txt':
        use = Args['csv']
        if arg == None:
            data = pd.read_csv(filename)
        if arg is not None:
            keys = use.keys()
            for key in arg.keys():
                if key in use.keys():
                    use[key] = arg[key]
            data = pd.read_csv(filename, use['delimiter'], use['names'], use['skiprows'])
    return data

In [42]:
filename = 'addresses.csv'
name_list = ['i', 'am', 'real', 'bad', 'at', 'words']
dic = {'delimiter': ',', 'skiprows': 1}
data = filetpye(filename, arg = dic)

In [43]:
data

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [21]:
def print_thing(thing1, thing2, *args, **kwargs):
    arg = kwargs.get('arg', None)
    print('thing1', thing1)
    print('thing2', thing2)
    dic = {'a': 1, 'b': 2}
    if type(arg) == type(dic):
        print('yessirrrrrr')
    print(type(args))

In [22]:
mydic = {'c': 3, 'd': 4}
print_thing(1, 2, arg = mydic)

thing1 1
thing2 2
yessirrrrrr
<class 'tuple'>