In [1]:
solar_abundance = {
    'H' : 1.00e+00, 'He': 1.00e-01, 'Li': 2.04e-09,
    'Be': 2.63e-11, 'B' : 6.17e-10, 'C' : 2.45e-04,
    'N' : 8.51e-05, 'O' : 4.90e-04, 'F' : 3.02e-08,
    'Ne': 1.00e-04, 'Na': 2.14e-06, 'Mg': 3.47e-05,
    'Al': 2.95e-06, 'Si': 3.47e-05, 'P' : 3.20e-07,
    'S' : 1.84e-05, 'Cl': 1.91e-07, 'Ar': 2.51e-06,
    'K' : 1.32e-07, 'Ca': 2.29e-06, 'Sc': 1.48e-09,
    'Ti': 1.05e-07, 'V' : 1.00e-08, 'Cr': 4.68e-07,
    'Mn': 2.88e-07, 'Fe': 2.82e-05, 'Co': 8.32e-08,
    'Ni': 1.78e-06, 'Cu': 1.62e-08, 'Zn': 3.98e-08}

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('JINAbase_excerpt.txt')

In [13]:
data

  # JINA_ID    C/Fe    O/Fe    Fe/H    Mg/Fe    Si/Fe
0                      6 -0.59 0.51 -1.78 -0.01 0.08

In [14]:
data.iloc[0]

# JINA_ID    C/Fe    O/Fe    Fe/H    Mg/Fe    Si/Fe    6 -0.59 0.51 -1.78 -0.01 0.08
Name: 0, dtype: object

In [15]:
data.iloc[0][0]

'6 -0.59 0.51 -1.78 -0.01 0.08'

In [16]:
data.shape

(1, 1)

In [17]:
type(data.iloc[0][0])

str

In [18]:
shit = '# JINA_ID C/Fe O/Fe Fe/H Mg/Fe Si/Fe'

In [19]:
a = shit.split()

In [20]:
a

['#', 'JINA_ID', 'C/Fe', 'O/Fe', 'Fe/H', 'Mg/Fe', 'Si/Fe']

In [21]:
a[0] = a[0] + a[1]

In [22]:
a[0]

'#JINA_ID'

In [23]:
b = a.remove(a[1])

In [103]:
new_data = pd.read_csv('JINAbase_excerpt.txt', names = b)

ValueError: Names should be an ordered collection.

In [25]:
new_data

  # JINA_ID    C/Fe    O/Fe    Fe/H    Mg/Fe    Si/Fe
0                      6 -0.59 0.51 -1.78 -0.01 0.08

In [26]:
new_data.shape

(1, 1)

In [104]:
new_data = pd.read_csv('JINAbase_excerpt_2eb.txt')

In [28]:
new_data

   #JINA_ID  C/Fe  O/Fe  Fe/H  Mg/Fe  Si/Fe
0         6 -0.59  0.51 -1.78  -0.01   0.08

In [29]:
columns = new_data.columns

In [52]:
newnew_data = new_data.to_dict(orient='list')
newnew_data

{'#JINA_ID': [6],
 'C/Fe': [-0.59],
 'O/Fe': [0.51],
 'Fe/H': [-1.78],
 'Mg/Fe': [-0.01],
 'Si/Fe': [0.08]}

In [53]:
print(type(newnew_data['C/Fe']))
newnew_data['C/Fe']

<class 'list'>

[-0.59]

In [38]:
dic = {'a':1, 'b':2}

In [46]:
type(dic['a'])

int

In [94]:
print(columns)
print(len(columns))
columns = columns.to_list()
print(type(columns))

Index(['#JINA_ID', 'C/Fe', 'O/Fe', 'Fe/H', 'Mg/Fe', 'Si/Fe'], dtype='object')
6
<class 'list'>

In [32]:
element_list = []
for i in range(len(columns)):
    print(columns[i])
    element_list.append(columns[i])
element_list

#JINA_ID
C/Fe
O/Fe
Fe/H
Mg/Fe
Si/Fe

['#JINA_ID', 'C/Fe', 'O/Fe', 'Fe/H', 'Mg/Fe', 'Si/Fe']

In [33]:
string1 = columns[1]
string2 = columns[2]
combo1 = string1[2] + string1[3]
combo2 = string2[2] + string2[3]

if combo1 == combo2:
    print('fuckin noice')
else:
    print('what the fuck')
# print(string[2])

fuckin noice

In [34]:
print(string1[3])

e

In [80]:
dic1 = {'noice': [0], 'wow': [4]}
dic2 = {'wow': 2, 'shit':5, 'oof': 8}
new_dic = {}
for key in dic2.keys():
    if key in dic1.keys():
        dic2[key] = dic1[key]
dic2

{'wow': [4], 'shit': 5, 'oof': 8}

In [75]:
dic1_keys = dic1.keys()
dic1_keys

dict_keys(['noice', 'wow'])

In [66]:
for x in a:
    for y in b:
        if a[x] == b[y]:
            print(a[x], b[y])

TypeError: 'set' object is not subscriptable

In [59]:
for i in range(0, len(element_list)-2):
# count = 0
# while count <= len(element_list):
    

    string1 = element_list[i]
    string2 = element_list[i+1]
    curr_string = string1[2] + string1[3]
    next_string = string2[2] + string2[3]
    if curr_string == next_string:
        print(curr_string, next_string)
        print('fuckin noice')
#     count += 1
#     if element_list[i+1] == len(element_list)-1:
#         break

Fe Fe
fuckin noice

In [ ]:
"""
def find_elements(filename):
    import pandas as pd
    data = pd.read_csv(filename)
    columns = data.columns
    element_list = []
    for i in range(len(columns)):
        element_list.append(columns[i])
"""

In [99]:
string = []
for i in columns:
    if i[1] == '/':
        string.append(i[0])
    else:
        string.append(i[0] + i[1])

string

['#J', 'C', 'O', 'Fe', 'Mg', 'Si']

In [105]:
nnew_data = new_data.to_dict(orient='list')
nnew_data

{'#JINA_ID': [6],
 'C/Fe': [-0.59],
 'O/Fe': [0.51],
 'Fe/H': [-1.78],
 'Mg/Fe': [-0.01],
 'Si/Fe': [0.08]}

In [126]:
new_data = pd.read_csv('JINAbase_excerpt_2eb.txt')
nnew_data = new_data.to_dict(orient='list')
keys = list(nnew_data.keys())
string = []
for i in keys:
    if i[1] == '/':
        string.append(i[0])
    else:
        string.append(i[0] + i[1])
newest_data = {}
for key, i in zip(nnew_data.keys(), string):
    newest_data[i] = nnew_data[key]

In [127]:
newest_data

{'#J': [6],
 'C': [-0.59],
 'O': [0.51],
 'Fe': [-1.78],
 'Mg': [-0.01],
 'Si': [0.08]}

In [130]:
def fix_key(data):
    new_data = data.to_dict(orient='list')
    keys = list(new_data.keys())
    string = []
    for i in keys:
        if i[1] == '/':
            string.append(i[0])
        else:
            string.append(i[0] + i[1])
    newest_data = {}
    for key, i in zip(new_data.keys(), string):
        newest_data[i] = new_data[key]
    return newest_data

In [131]:
def find_elements(filename, abundance):
    import pandas as pd
    data = pd.read_csv(filename)
#     data_dic = data.to_dict(orient='list')
    new_dic = fix_key(data)
    for key in abundance.keys():
        if key in new_dic.keys():
            abundance[key] = new_dic[key]
            print('an element was changed to {}'.format(abundance[key]))
    return abundance

In [132]:
def reading_func(filename = None):
    abundance = {
        'H' : 1.00e+00, 'He': 1.00e-01, 'Li': 2.04e-09,
        'Be': 2.63e-11, 'B' : 6.17e-10, 'C' : 2.45e-04,
        'N' : 8.51e-05, 'O' : 4.90e-04, 'F' : 3.02e-08,
        'Ne': 1.00e-04, 'Na': 2.14e-06, 'Mg': 3.47e-05,
        'Al': 2.95e-06, 'Si': 3.47e-05, 'P' : 3.20e-07,
        'S' : 1.84e-05, 'Cl': 1.91e-07, 'Ar': 2.51e-06,
        'K' : 1.32e-07, 'Ca': 2.29e-06, 'Sc': 1.48e-09,
        'Ti': 1.05e-07, 'V' : 1.00e-08, 'Cr': 4.68e-07,
        'Mn': 2.88e-07, 'Fe': 2.82e-05, 'Co': 8.32e-08,
        'Ni': 1.78e-06, 'Cu': 1.62e-08, 'Zn': 3.98e-08}
    if filename is not None:
        abundance = find_elements(filename, abundance)
    return abundance

In [133]:
# filepath = '/home/evelyn/internship/JINAbase_excerpt.txt'
filename = 'JINAbase_excerpt_2eb.txt'
solar_abundance = reading_func(filename)
solar_abundance

an element was changed to [-0.59]
an element was changed to [0.51]
an element was changed to [-0.01]
an element was changed to [0.08]
an element was changed to [-1.78]

{'H': 1.0,
 'He': 0.1,
 'Li': 2.04e-09,
 'Be': 2.63e-11,
 'B': 6.17e-10,
 'C': [-0.59],
 'N': 8.51e-05,
 'O': [0.51],
 'F': 3.02e-08,
 'Ne': 0.0001,
 'Na': 2.14e-06,
 'Mg': [-0.01],
 'Al': 2.95e-06,
 'Si': [0.08],
 'P': 3.2e-07,
 'S': 1.84e-05,
 'Cl': 1.91e-07,
 'Ar': 2.51e-06,
 'K': 1.32e-07,
 'Ca': 2.29e-06,
 'Sc': 1.48e-09,
 'Ti': 1.05e-07,
 'V': 1e-08,
 'Cr': 4.68e-07,
 'Mn': 2.88e-07,
 'Fe': [-1.78],
 'Co': 8.32e-08,
 'Ni': 1.78e-06,
 'Cu': 1.62e-08,
 'Zn': 3.98e-08}

In [81]:
abundance = {
        'H' : 1.00e+00, 'He': 1.00e-01, 'Li': 2.04e-09,
        'Be': 2.63e-11, 'B' : 6.17e-10, 'C' : 2.45e-04,
        'N' : 8.51e-05, 'O' : 4.90e-04, 'F' : 3.02e-08,
        'Ne': 1.00e-04, 'Na': 2.14e-06, 'Mg': 3.47e-05,
        'Al': 2.95e-06, 'Si': 3.47e-05, 'P' : 3.20e-07,
        'S' : 1.84e-05, 'Cl': 1.91e-07, 'Ar': 2.51e-06,
        'K' : 1.32e-07, 'Ca': 2.29e-06, 'Sc': 1.48e-09,
        'Ti': 1.05e-07, 'V' : 1.00e-08, 'Cr': 4.68e-07,
        'Mn': 2.88e-07, 'Fe': 2.82e-05, 'Co': 8.32e-08,
        'Ni': 1.78e-06, 'Cu': 1.62e-08, 'Zn': 3.98e-08}